@use "../abstracts/variables" as *;

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: map-get($active-theme, "text");
  border: none;
}

.App {
  text-align: center;
  flex-direction: column;
  display: flex;
  height: 100%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
}

hr {
  width: 100%;
  height: 1rem;
  border-radius: 1rem;
  border-color: black;
  background-color: map-get($active-theme, "tertiary");
  border-width: 5px;
}

body, html, #root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
                "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background-color: map-get($active-theme, "darkest");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
@mixin page-header {
  color: white;
  display: flex;
  align-items: center;
  align-self: center;
  min-height: 500px;
}
.page-header {
  @include page-header;
}

.page-header-short {
  @include page-header;
  min-height: 250px;
}

.body-container {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  justify-content: center;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: map-get($active-theme, "primary");
  flex-grow: 1;
}

.container-item {
  display: flex;
  flex-grow: 1;
}


.page-item {
  margin: 2rem;
}

.bg-color-primary {
  background-color: map-get($active-theme, "primary") !important;
}

.bg-color-secondary {
  background-color: map-get($active-theme, "secondary");
}

.bg-color-tertiary {
  background-color: map-get($active-theme, "tertiary");
}


.opaque {
  opacity: 1;
}

.padding-large {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (max-width: 32em) {
  .App {
    text-align: center;
    flex-direction: row;
    display: flex;
  }

  .container {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    width: 70vw;
  }

  .page-header {
    margin-bottom: 20px;
  }

}
