@use '../abstracts/variables' as *;

@mixin cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  gap: 2rem;
}

@mixin card-container {
  margin: auto;
  width: 20rem;
  aspect-ratio: 1 / 1;
  background-color: map-get($active-theme, "secondary");
  border-radius: 10px;
}

.cards-container {
  @include cards-container;
}

.service-cards-container {
  @include cards-container;
  width: 90%;
}

.card-container {
  @include card-container;
}

.service-card-container {
  @include card-container;
  width: 10rem;
}

.bg-image-global {
  background-image: $global-image;
  background-size: cover;
}

.round-medium {
  border-radius: 5rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}


.card-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: auto;
}

.card-footer {
  background-color: map-get($active-theme, "tertiary");
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

@mixin card-footer-item {
  display: flex;
  align-items: center;
  margin: auto;
}

.card-footer-item {
  @include card-footer-item;
}

.service-card-footer-item {
  @include card-footer-item;
  color: white;
  background-color: rgba(0.5, 0.5, 0.5, 0.5);
  border-radius: 2rem;
}

.card-body {
  height: 60%;
}

@media (max-width: 32em) {

  .card-container {
    padding-top: 1rem;
  }
}