@use '../abstracts/variables' as *;

.card-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: red;
  margin: auto;
}

.card {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 20rem;
  height: 20rem;
  background-color: pink;
  border-radius: 10px;
}

.card-item {
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

@media (max-width: 32em) {
  .card-container {
    flex-direction: column;
    gap: 2rem;
  }
}