@use '../abstracts/variables' as *;

.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 2rem 0;
    position: sticky;
}

.nav li.active {
    background-color: map-get($active-theme, "secondary");
    height: 100%;
    border-bottom: 0.25rem solid map-get($active-theme, "tertiary");
}

// ToDo: add active link color - add gradient

.link-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border-bottom: 1px solid map-get($active-theme, "darkest");
}

.site-title {
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 0.1rem solid map-get($active-theme, "darkest");

}
.nav ul {
    list-style: none;
    display: flex;
    height: 100%;
}

.nav a {
    display: flex;
    color: inherit;
    height: 100%;
    align-items: center;
    padding: .25rem;
}
.nav li {
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    box-sizing: border-box;

}


.nav li:hover {
    background-color: map-get($active-theme, "secondary");
}

@media (max-width: 32em) {
    .nav {
        flex-direction: column;
        justify-content: start;
        width: 7.5em;
        height: 100vh;
        float: left;
        padding-right: 0;
        padding-left: 0;
        border-right: 4px solid map-get($active-theme, "secondary")
    }

    .link-container {
        border-bottom: none;
    }

    .nav ul {
        flex-direction: column;
        height: 100%;
        font-size: 1.5rem;
        width: 100%;
    }

    .nav li {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .nav a {
        height: 100%;
    }

    .nav li:hover {
        background-color: map-get($active-theme, "active-link");
    }

    .site-title {
        margin-right: auto;
        margin-left: auto;
    }
}
