@use '../abstracts/variables' as *;

.nav {
    background-color: $dark-green;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    position: sticky;
    top: 0;
}

.site-title {
    font-size: 2rem;
}
.nav ul {
    margin: 0;
    list-style: none;
    display: flex;
}

.nav a {
    color: inherit;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}
.nav li {
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}


.nav li.active {
    background-color: $dark-brown;
}

.nav li:hover {
    background-color: $light-brown;
}

@media (max-width: 32em) {
    .nav {
        flex-direction: column;
        justify-content: start;
        width: 7.5em;
        height: 100vh;
        float: left;
        padding-right: 0;
        padding-left: 0;
        border-right: 0.5rem solid $light-brown
    }

    .nav ul {
        flex-direction: column;
        height: 100%;
        font-size: 1.5rem;
        width: 100%;
    }

    .nav li {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .nav a {
        height: 100%;
        //padding-left: 0.5em;
    }

    .site-title {
        margin-right: auto;
        margin-left: auto;
    }
}
