.nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    position: sticky;
    top: 0;
}

.site-title{
    font-size: 2rem;
}

.nav ul {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    background-color: #555;
}

.nav li:hover {
    background-color: #777;
}

@media (max-width: 32em){
    .nav {
        background-color: red;
        flex-direction: column;
        justify-content: start;
        width: 7.5em;
        height: 100vh;
        float: left;
    }

    .site-title{
        writing-mode: vertical-rl;
        text-orientation: upright;
        margin-top: 2em;
    }

    .nav ul {
        flex-direction: column;
        height: 100%;
        font-size: 1.5rem;
    }

    .nav a {
        height: 100%;
    }
}