/* color */
/* images */
* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
  border: none;
}

.App {
  text-align: center;
  flex-direction: column;
  display: flex;
  height: 100%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
}

body, html, #root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background-color: #493421;
}

hr {
  border: 1px solid #7B532E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.content-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
}

.container {
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container-item {
  padding: 1rem;
}

.page-header {
  min-height: 500px;
}

.page-item {
  margin: 2rem;
}

.bg-color-primary {
  background-color: white;
}

.bg-color-secondary {
  background-color: #5EB8AC;
}

.bg-color-tertiary {
  background-color: #7B532E;
}

.opaque {
  opacity: 1;
}

.padding-large {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.no-margin-left-right-bottom {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 32em) {
  .App {
    text-align: center;
    flex-direction: row;
    display: flex;
  }
  .container {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    width: 70vw;
  }
  .page-header {
    margin-bottom: 20px;
  }
}
.hero-title {
  background-image: url("../../../public/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 15vw;
  margin: 0;
  min-height: 500px;
}

@media (max-width: 32em) {
  .hero-title {
    font-size: 20vw;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 2rem 0;
  position: sticky;
  top: 0;
}

.nav li.active {
  background-color: #5EB8AC;
  height: 100%;
  border-bottom: 0.25rem solid #77A5DF;
}

.link-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  border-bottom: 0.1rem solid #493421;
}

.site-title {
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 0.1rem solid #493421;
}

.nav ul {
  list-style: none;
  display: flex;
  height: 100%;
}

.nav a {
  display: flex;
  color: inherit;
  height: 100%;
  align-items: center;
  padding: 0.25rem;
}

.nav li {
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  box-sizing: border-box;
}

.nav li:hover {
  background-color: #5EB8AC;
}

@media (max-width: 32em) {
  .nav {
    flex-direction: column;
    justify-content: start;
    width: 7.5em;
    height: 100vh;
    float: left;
    padding-right: 0;
    padding-left: 0;
    border-right: 4px solid #5EB8AC;
  }
  .link-container {
    border-bottom: none;
  }
  .nav ul {
    flex-direction: column;
    height: 100%;
    font-size: 1.5rem;
    width: 100%;
  }
  .nav li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .nav a {
    height: 100%;
  }
  .nav li:hover {
    background-color: #77A5DF;
  }
  .site-title {
    margin-right: auto;
    margin-left: auto;
  }
}
.btn-primary {
  background-color: white;
  padding: 1rem 2rem;
}

.btn-secondary {
  background-color: #5EB8AC;
  padding: 1rem 2rem;
}

.btn-tertiary {
  background-color: #7B532E;
  padding: 1rem 2rem;
}

.btn-accent {
  background-color: #77A5DF;
  padding: 1rem 2rem;
}

.btn-text {
  background-color: black;
  padding: 1rem 2rem;
}

.btn-darkest {
  background-color: #493421;
  padding: 1rem 2rem;
}

.btn-transparent-darkest {
  background-color: rgba(0, 0, 0, 0);
  padding: 1rem 2rem;
}

.btn-active-link {
  background-color: #77A5DF;
  padding: 1rem 2rem;
}

.btn-warning {
  background-color: yellow;
  padding: 1rem 2rem;
}

.btn-error {
  background-color: red;
  padding: 1rem 2rem;
}

.btn-info {
  background-color: blue;
  padding: 1rem 2rem;
}

.btn-success {
  background-color: green;
  padding: 1rem 2rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 100%;
  background-color: white;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  gap: 2rem;
}

.card-container {
  margin: auto;
  width: 20rem;
  aspect-ratio: 1/1;
  background-color: #5EB8AC;
  border-radius: 10px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.card-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: auto;
}

.card-footer {
  background-color: #7B532E;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.card-footer-item {
  display: flex;
  align-items: center;
  margin: auto;
}

.card-body {
  height: 60%;
}

@media (max-width: 32em) {
  .card-container {
    padding-top: 1rem;
  }
}
/* Table of contents
  -------------------------------
  -- base imports
  -- components imports
  -- layout imports
  -- pages imports
  -- themes imports
  -- vendors imports
*/

/*# sourceMappingURL=main.css.map */
